module.exports = {
  conductor: {
    rpc: "",
    mnemonic: "",
  },
  mainnet: {
    conductorChainId: 2,
    contributorChainId: 2,
    consistencyLevel: 15,
    wormhole: "0x98f3c9e6E3fAce36bAAd05FE09d375Ef1464288B",
    tokenBridge: "0x3ee18B2214AFF97000D974cf647E7C347E8fa585",
    mnemonic: "",
    rpc: "",
    deployImplementationOnly: false,
  },
  binance: {
    conductorChainId: 2,
    contributorChainId: 4,
    consistencyLevel: 15,
    wormhole: "0x98f3c9e6E3fAce36bAAd05FE09d375Ef1464288B",
    tokenBridge: "0xB6F6D86a8f9879A9c87f643768d9efc38c1Da6E7",
    mnemonic: "",
    rpc: "",
    deployImplementationOnly: false,
  },
  polygon: {
    conductorChainId: 2,
    contributorChainId: 5,
    consistencyLevel: 15,
    wormhole: "0x7A4B5a56256163F07b2C80A7cA55aBE66c4ec4d7",
    tokenBridge: "0x5a58505a96D1dbf8dF91cB21B54419FC36e93fdE",
    mnemonic: "",
    rpc: "",
    deployImplementationOnly: false,
  },
  avalanche: {
    conductorChainId: 2,
    contributorChainId: 6,
    consistencyLevel: 15,
    wormhole: "0x54a8e5f9c4CbA08F9943965859F6c34eAF03E26c",
    tokenBridge: "0x0e082F06FF657D94310cB8cE8B0D9a04541d8052",
    mnemonic: "",
    rpc: "",
    deployImplementationOnly: false,
  },
  development: {
    conductorChainId: 2,
    contributorChainId: 2,
    consistencyLevel: 1,
    wormhole: "0xC89Ce4735882C9F0f0FE26686c53074E09B0D550",
    tokenBridge: "0x0290FB167208Af455bB137780163b7B7a9a10C16",
  },
  eth_devnet: {
    conductorChainId: 2,
    contributorChainId: 2,
    consistencyLevel: 1,
    wormhole: "0xC89Ce4735882C9F0f0FE26686c53074E09B0D550",
    tokenBridge: "0x0290FB167208Af455bB137780163b7B7a9a10C16",
  },
  eth_devnet2: {
    conductorChainId: 2,
    contributorChainId: 4,
    consistencyLevel: 1,
    wormhole: "0xC89Ce4735882C9F0f0FE26686c53074E09B0D550",
    tokenBridge: "0x0290FB167208Af455bB137780163b7B7a9a10C16",
  },
  goerli: {
    conductorChainId: 2,
    contributorChainId: 2,
    consistencyLevel: 2,
    wormhole: "0x706abc4E45D419950511e474C7B9Ed348A4a716c",
    tokenBridge: "0xF890982f9310df57d00f659cf4fd87e65adEd8d7",
    mnemonic: "",
    rpc: "",
    deployImplementationOnly: false,
  },
  fuji: {
    conductorChainId: 2,
    contributorChainId: 6,
    consistencyLevel: 2,
    wormhole: "0x7bbcE28e64B3F8b84d876Ab298393c38ad7aac4C",
    tokenBridge: "0x61E44E506Ca5659E6c0bba9b678586fA2d729756",
    mnemonic: "",
    rpc: "",
    deployImplementationOnly: false,
  },
  binance_testnet: {
    conductorChainId: 2,
    contributorChainId: 4,
    consistencyLevel: 2,
    wormhole: "0x68605AD7b15c732a30b1BbC62BE8F2A509D74b4D",
    tokenBridge: "0x9dcF9D205C9De35334D646BeE44b2D2859712A09",
    mnemonic: "",
    rpc: "",
    deployImplementationOnly: false,
  },
  mumbai: {
    conductorChainId: 2,
    contributorChainId: 5,
    consistencyLevel: 2,
    wormhole: "0x0CBE91CF822c73C2315FB05100C2F714765d5c20",
    tokenBridge: "0x377D55a7928c046E18eEbb61977e714d2a76472a",
    mnemonic: "",
    rpc: "",
    deployImplementationOnly: false,
  },
  fantom_testnet: {
    conductorChainId: 2,
    contributorChainId: 10,
    consistencyLevel: 2,
    wormhole: "0x1BB3B4119b7BA9dfad76B0545fb3F531383c3bB7",
    tokenBridge: "0x599CEa2204B4FaECd584Ab1F2b6aCA137a0afbE8",
    mnemonic: "",
    rpc: "",
    deployImplementationOnly: false,
  },
  solana_testnet: {
    conductorChainId: 2,
    contributorChainId: 1,
    wormhole: "",
    tokenBridge: "",
    mnemonic: "",
    rpc: "",
  },
};
